.card{
    background-color: var(--secondary-color);
    width: 1200px;
}

input[type = text], input[type = email]{
    height:60px;
    padding-lift: 20px;
    font-size:13px;
    width:100%;

}

.btn-sub{
    height: 58px;
    border: none;
    font-size:13px;
    background-color: var(--primary-color);

}

.subs-text{
    width:500px;
}