
<div class="card">

    <div class="card-body">

        <div class="text-center mt-3 mb-5">

            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text"> Form on the go! Allows for users to subscribe to newsletter or mailing lists to get updates from organizations </p>
            <form action="" class="form-inline mb-5">

                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
                </div>

            </form>
        </div>
    </div>
</div>