
<div class="card">
    <img src="https://images.pexels.com/photos/92904/pexels-photo-92904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> View - 100,256 </small>
        <h5 class="mt-1"> Choose the perfect design</h5>
        <p>Create a beautiful blog that fits your style. Choose from a selection of easy-to-use templates – all with flexible layouts and hundreds of background images – or design something new.</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - MAY 22, 2023 </small>
    
        </div>
</div>